.rounded-img {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 0.5em;
  margin-bottom: 1em;
}
.card {
  border-radius: 1em;
  text-align: center;
  padding: 1em;
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.card img {
  border-radius: 50%;
  width: 70%;
  margin: auto;
}
.karus {
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 10%;
}
.carousel-inner {
  border-radius: 10%;
}

p,
ul,
ol,
dl {
  font-size: 1.1em;
}

p,
li,
dd,
dt {
  line-height: 1.5;
  padding-left: 25px;
  padding-right: 15px;
}
h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}
h1,
h2 {
  padding-left: 10px;
}
